
@{
    ViewBag.Title = "EmailLogin";
}

<h2>EmailLogin</h2>

@using (Html.BeginForm("EmailLogin", "UserManager"))
{
    <table class="table table-bordered">
        <tr>
            <td>用户邮箱</td>
            <td>
                <input id="txtEmal" type="text" name="UserEmail" />
            </td>

        </tr>
        <tr>
            <td></td>
            <td><input id="txtYzm" type="text" name="UserPwd" /></td>
            <td><input id="Button1" type="button" value="发送验证码" onclick="YanZheng()" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="Submit1" type="submit" value="登录" onclick="Denglu()" /></td>
        </tr>
    </table>
}
<script>
    function YanZheng() {

        $.ajax({
            url: "https://localhost:44341/UserManager/Mail1?Txt=" + $("#txtEmal").val(),
            success: function (data) {
                if (data > 0) {
                    alert("验证码发送成功");
                }
                else {
                    alert("邮箱不存在");

                }
            }
        });
        }
    function Denglu()
    {
         $.ajax({
            url: "https://localhost:44341/UserManager/EmailDenglu?userEmail="+$("#txtEmal").val()+"+&userPwd="+$("#")+"",
            success: function (data) {
                if (data > 0) {
                    alert("验证码发送成功");
                }
                else {
                    alert("邮箱不存在");

                }
            }
        });
    }

</script>