
@{
    ViewBag.Title = "Index";
}



<div class="floor-wrapper content cont-home">
    <div class="floor-banner">
        <!-- 右侧申请 -->
        <div class="banner-box" style="width:240px">
            <div class="title"></div>
            <div class="title1" style="position: absolute;top: 39px;font-size: 18px;color: #FF9505;font-weight: bold;">在线<h1 style="display: inline-block;width: 36px;">车贷</h1>极速申请</div>
            <div class="txt">
                <p>● 上汽直营，全程保障</p>
                <p>● 最高可贷50万</p>
                <p>● 最快2小时放款</p>
                <p>● 一张身份证起办</p>
            </div>
            <a class="sui-btn btn-primary" @*href="https://www.haocheedai.com/pc/helpLoanFirst.html"*@>帮您贷款</a>
            <p class="count">
                已有<span class="clr-blue">
                    796,142
                </span>人获得了贷款
            </p>
        </div>
        <!-- 左侧查询 -->
        <div class="banner-box1" style="width:250px">
            <div class="banner-brandCarType">
                <div class="title">
                    <h2 class="hot1"><span>热门品牌车型</span></h2>
                    <a @*href="https://www.haocheedai.com/pc/p0f0b0s0y1.html"*@ style="float: right;"><div class="all" style="line-height: 21.06px;">&gt;</div></a>
                </div>
                <div class="banner-brand">



                    <a @*href="https://www.haocheedai.com/pc/p0f0b25s0y1.html"*@>
                        <span>大众</span>
                    </a>



                    <a @*href="https://www.haocheedai.com/pc/p0f0b109s0y1.html"*@>
                        <span>荣威</span>
                    </a>



                    <a @*href="https://www.haocheedai.com/pc/p0f0b112s0y1.html"*@>
                        <span>斯柯达</span>
                    </a>



                    <a @*href="https://www.haocheedai.com/pc/p0f0b93s0y1.html"*@>
                        <span>MG</span>
                    </a>

                </div>
                <div class="series">


                    <a @*href="https://www.haocheedai.com/pc/loanProduct/311/4207.html"*@>
                        <span>朗逸</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/2543/31527.html"*@>
                        <span>荣威RX5</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/32533/1127920.html"*@>
                        <span>途观L</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/32573/1128362.html"*@>
                        <span>名爵ZS</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/1132/23433.html"*@>
                        <span>明锐</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/310/4137.html"*@>
                        <span>桑塔纳</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/313/1127997.html"*@>
                        <span>帕萨特</span>
                    </a>

                    <a @*href="https://www.haocheedai.com/pc/loanProduct/32564/1129089.html"*@>
                        <span>荣威i6</span>
                    </a>


                </div>
            </div>
            <div class="carPrice">
                <div class="title">
                    <h2 class="carPP"><span>车价</span></h2>
                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f0b0s0y1.html"*@ style="float:right;"><div class="all" style="line-height: 21.06px;">&gt;</div></a>
                </div>
                <div class="carPrice-img">



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p2f0b0s0y1.html"*@>
                        <span data-max="8" data-min="5">5-8万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p3f0b0s0y1.html"*@>
                        <span data-max="10" data-min="8">8-10万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p4f0b0s0y1.html"*@>
                        <span data-max="15" data-min="10">10-15万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p5f0b0s0y1.html"*@>
                        <span data-max="20" data-min="15">15-20万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p6f0b0s0y1.html"*@>
                        <span data-max="30" data-min="20">20-30万</span>
                    </a>



                </div>
            </div>
            <div class="firstPay">
                <div class="title">
                    <h2 class="firstFF"><span>首付款</span></h2>
                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f0b0s0y1.html"*@ style="float: right;"><div class="all" style="line-height: 21.06px;">&gt;</div></a>
                </div>
                <div class="firstPay-img">
                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f10b0s0y1.html"*@>
                        <span>3万以下</span>
                    </a>





                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f11b0s0y1.html"*@>
                        <span data-max="5" data-min="3">3-5万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f12b0s0y1.html"*@>
                        <span data-max="8" data-min="5">5-8万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f13b0s0y1.html"*@>
                        <span data-max="10" data-min="8">8-10万</span>
                    </a>



                    <a @*rel="nofollow" href="https://www.haocheedai.com/pc/p0f14b0s0y1.html"*@>
                        <span data-max="15" data-min="10">10-15万</span>
                    </a>



                </div>
            </div>
        </div>
        <div class="flexslider-banner">


            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1190px, 0px, 0px);">
                    <li class="flex-active-slide" style="width: 1190px; float: left; display: block;">
                        <a class="indexBannerImgs" href="#" data-bannerid="42" data-pagecode="pc_index" style="background:url(//cdn.haocheedai.com/data/media/index/slider/banner_1.png) no-repeat center center"></a>
                    </li>
                    <li class="clone" aria-hidden="true" style="width: 1190px; float: left; display: block;">
                        <a class="indexBannerImgs" href="#" data-bannerid="42" data-pagecode="pc_index" style="background:url(//cdn.haocheedai.com/data/media/index/slider/banner_1.png) no-repeat center center"></a>
                    </li>
                    <li class="clone" style="width: 1190px; float: left; display: block;">
                        <a class="indexBannerImgs" href="#" data-bannerid="42" data-pagecode="pc_index" style="background:url(//cdn.haocheedai.com/data/media/index/slider/banner_1.png) no-repeat center center"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pinXuan">
        <div class="floor pinXuan-center">
            <a @*href="https://www.haocheedai.com/pc/advantage.html"*@>
                <span class="hover">
                    <img src="https://www.haocheedai.com/resources/pc-sui2/images/zhiying.png" alt="">
                    <p class="pinXuan-h4">上汽直营</p>
                </span>
                <p class="pxwzs">上汽集团汽车金融平台</p>
                <span class="pxwzs1">已为<span class="clr-red">796,142</span>人发放贷款</span>
            </a>
            <a @*href="https://www.haocheedai.com/pc/advantageSecond.html"*@>
                <span class="hover">
                    <img src="https://www.haocheedai.com/resources/pc-sui2/images/daikuan.png" alt="">
                    <p class="pinXuan-h4">贷款划算</p>
                </span>
                <p class="pxwzs">真正<span class="clr-red">0利率</span></p>
                <span class="pxwzs1">厂家替你付利息</span>
            </a>
            <a @*href="https://www.haocheedai.com/pc/advantageThird.html"*@>
                <span class="hover">
                    <img src="https://www.haocheedai.com/resources/pc-sui2/images/jisu.png" alt="">
                    <p class="pinXuan-h4">极速流程</p>
                </span>
                <p class="pxwzs">最快<span class="clr-red">1分钟在线审批</span></p>
                <span class="pxwzs1">最快当日即可放款</span>
            </a>
            <a @*href="https://www.haocheedai.com/pc/advantageForth.html"*@>
                <span class="hover">
                    <img src="https://www.haocheedai.com/resources/pc-sui2/images/xinxi.png" alt="">
                    <p class="pinXuan-h4">信息透明</p>
                </span>
                <p class="pxwzs">申请状态实时更新</p>
                <span class="pxwzs1">审批还款尽在掌握</span>
            </a>
            <a @*href="https://www.haocheedai.com/pc/advantageFive.html"*@>
                <span class="hover">
                    <img src="https://www.haocheedai.com/resources/pc-sui2/images/zixun2.png" alt="">
                    <p class="pinXuan-h4">免费咨询</p>
                </span>
                <p class="pxwzs"><span class="clr-red">400-833-8999</span></p>
                <span class="pxwzs1">为您提供专业的贷款咨询</span>
            </a>
        </div>
    </div>

    <div class="floor">

        <!-- 上汽直营品牌 -->
        <div class="box-loan">
            <div class="h3-line div-line">
                上汽直营品牌
                <span class="cheap">零利率车贷直通</span>
                <ul class="sui-nav nav-tabs lowerLoanCarList directly">



                    <li data-brandid="25">
                        <a class="chang1 active1" @*href="https://www.haocheedai.com/pc/p0f0b25s0y1.html"*@>
                            <span class="brand-name">大众</span>
                        </a>
                    </li>



                    <li data-brandid="109">
                        <a class="chang1" @*href="https://www.haocheedai.com/pc/p0f0b109s0y1.html"*@>
                            <span class="brand-name">荣威</span>
                        </a>
                    </li>



                    <li data-brandid="112">
                        <a class="chang1" @*href="https://www.haocheedai.com/pc/p0f0b112s0y1.html"*@>
                            <span class="brand-name">斯柯达</span>
                        </a>
                    </li>



                    <li data-brandid="93">
                        <a class="chang1" @*href="https://www.haocheedai.com/pc/p0f0b93s0y1.html"*@>
                            <span class="brand-name">MG</span>
                        </a>
                    </li>




                    <a class="more" @*href="https://www.haocheedai.com/pc/p0f0b0s0y1.html"*@>更多车型&gt;</a>
                </ul>
            </div>
            <div class="tab-content flexSliderContent">
                <div class="tab-pane active">
                    <!-- 轮播内容 -->
                    <div class="flexslider-loan" style="height: 250px;">
                        <ul class="slides">


                            <li class="slides1" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/311/1234396.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">朗逸</div>
                                            <img src="//static.haocheedai.com/data/media/brand/25/311/311_210140.jpg" alt="2013款 朗逸 1.6L 手动风尚版 经典" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2013款 朗逸 1.6L 手动风尚版 经典">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1497.22</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">85821</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/314/1234248.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">POLO</div>
                                            <img src="//static.haocheedai.com/data/media/brand/25/314/314_210140.jpg" alt="2016款 POLO 1.4L 手动风尚型" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2016款 POLO 1.4L 手动风尚型">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">780.56</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">37712</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32533/1169397.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">途观L</div>
                                            <img src="//static.haocheedai.com/data/media/brand/25/32533/32533_210140.jpg" alt="2019款 途观L 330TSI 自动两驱风尚版 国V" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 途观L 330TSI 自动两驱风尚版 国V">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">3038.89</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">36576</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2352/1157077.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">凌渡</div>
                                            <img src="//static.haocheedai.com/data/media/brand/25/2352/2352_210140.jpg" alt="2019款 凌渡 230TSI 手动风尚版 国VI" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 凌渡 230TSI 手动风尚版 国VI">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1984.72</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">36090</label>人申请</span>
                                        </a>
                                    </li>*@



                                </ul>
                            </li>

                            <li class="slides1" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32564/1234094.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">荣威i6</div>
                                            <img src="//static.haocheedai.com/data/media/brand/109/32564/32564_210140.jpg" alt="2018款 荣威i6 20T 手动风尚版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2018款 荣威i6 20T 手动风尚版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1226.39</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">12018</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2419/1139041.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">荣威360</div>
                                            <img src="//static.haocheedai.com/data/media/brand/109/2419/2419_210140.jpg" alt="2015款 荣威360 1.5L 手动精英版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2015款 荣威360 1.5L 手动精英版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1054.17</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">18682</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1098/26344.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">荣威350</div>
                                            <img src="//static.haocheedai.com/data/media/brand/109/1098/1098_210140.jpg" alt="2014款 荣威350 1.5L 手动 讯驰版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2014款 荣威350 1.5L 手动 讯驰版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1051.39</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">19528</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2543/1234545.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">荣威RX5</div>
                                            <img src="//static.haocheedai.com/data/media/brand/109/2543/2543_210140.jpg" alt="2019款 荣威RX5 20T 两驱手动精英版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 荣威RX5 20T 两驱手动精英版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1344.44</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">107934</label>人申请</span>
                                        </a>
                                    </li>*@



                                </ul>
                            </li>

                            <li class="slides1" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32611/1204295.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">柯迪亚克</div>
                                            <img src="//static.haocheedai.com/data/media/brand/112/32611/32611_210140.jpg" alt="2019款 柯迪亚克 改款 TSI330 5座两驱标准版 国V" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 柯迪亚克 改款 TSI330 5座两驱标准版 国V">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">2595.83</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">7858</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1137/1241618.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">速派</div>
                                            <img src="//static.haocheedai.com/data/media/brand/112/1137/1137_210140.jpg" alt="2018款 速派 TSI280 手动标准版 国V" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2018款 速派 TSI280 手动标准版 国V">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1548.15</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">7125</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1133/1160018.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">昕锐</div>
                                            <img src="//static.haocheedai.com/data/media/brand/112/1133/1133_210140.jpg" alt="2019款 昕锐 1.5L 手动入门版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 昕锐 1.5L 手动入门版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">998.61</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">16183</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1132/1160096.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">明锐</div>
                                            <img src="//static.haocheedai.com/data/media/brand/112/1132/1132_210140.jpg" alt="2015款 明锐 经典款 1.6L 手动逸致版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2015款 明锐 经典款 1.6L 手动逸致版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1386.11</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">21196</label>人申请</span>
                                        </a>
                                    </li>*@



                                </ul>
                            </li>

                            <li class="slides1" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/33181/1210715.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">名爵6新能源</div>
                                            <img src="//static.haocheedai.com/data/media/brand/93/33181/33181_210140.jpg" alt="2019款 名爵6新能源 50T Plus" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 名爵6新能源 50T Plus">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">2219.44</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">0</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/944/1133552.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">名爵3</div>
                                            <img src="//static.haocheedai.com/data/media/brand/93/944/944_210140.jpg" alt="2017款 名爵3 1.3L 手动精品舒适版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2017款 名爵3 1.3L 手动精品舒适版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">830.56</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">2954</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/945/1209932.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">名爵6</div>
                                            <img src="//static.haocheedai.com/data/media/brand/93/945/945_210140.jpg" alt="2019款 名爵6 20T 手动星辉版" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 名爵6 20T 手动星辉版">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1344.44</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">12847</label>人申请</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32573/1357891.html">


                                            <i class="bg-sign">0利率</i>




                                            <div class="lines-h5">名爵ZS</div>
                                            <img src="//static.haocheedai.com/data/media/brand/93/32573/32573_210140.jpg" alt="2019款 名爵ZS 1.5L 手动全球风尚版 国VI" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" title="2019款 名爵ZS 1.5L 手动全球风尚版 国VI">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1025.00</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum">13108</label>人申请</span>
                                        </a>
                                    </li>*@



                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作品牌 -->
        <div class="box-loan">
            <div class="h3-line div-line">
                合作品牌
                <span class="cheap">热卖车型</span>
                <ul class="sui-nav nav-tabs lowerLoanCarList cooperation">
                    <li>
                        <a class="chang2 active1" @*href="https://www.haocheedai.com/pc/p0f0b5s0y1.html"*@>

                            <span class="brand-name">本田</span>
                        </a>
                    </li>
                    <li>
                        <a class="chang2" @*href="https://www.haocheedai.com/pc/p0f0b21s0y1.html"*@>

                            <span class="brand-name">长安轿车</span>
                        </a>
                    </li>
                    <li>
                        <a class="chang2" @*href="https://www.haocheedai.com/pc/p0f0b125s0y1.html"*@>

                            <span class="brand-name">现代</span>
                        </a>
                    </li>
                    <li>
                        <a class="chang2" @*href="https://www.haocheedai.com/pc/p0f0b138s0y1.html"*@>

                            <span class="brand-name">众泰</span>
                        </a>
                    </li>
                    <a class="more" @*href="https://www.haocheedai.com/pc/p0f0b0s0y1.html"*@>更多品牌&gt;</a>
                </ul>
            </div>
            <div class="tab-content flexSliderContent">
                <div class="tab-pane active">
                    <!-- 轮播内容 -->
                    <div class="flexslider-loan" style="height: 230px;">
                        <ul class="slides">


                            <li class="slides2" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2316/1127976.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">本田XR-V</div>
                                            <img src="//static.haocheedai.com/data/media/brand/5/2316/2316_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1722.92</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/52/612.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">思域</div>
                                            <img src="//static.haocheedai.com/data/media/brand/5/52/52_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">2455.56</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/51/576.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">本田CR-V</div>
                                            <img src="//static.haocheedai.com/data/media/brand/5/51/51_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">3066.67</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2297/1127761.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">缤智</div>
                                            <img src="//static.haocheedai.com/data/media/brand/5/2297/2297_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1744.91</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>*@


                                </ul>
                            </li>

                            <li class="slides2" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/249/31720.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">逸动</div>
                                            <img src="//static.haocheedai.com/data/media/brand/21/249/249_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">934.23</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32759/1133173.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">长安CS55</div>
                                            <img src="//static.haocheedai.com/data/media/brand/21/32759/32759_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1165.28</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/247/3100.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">长安CS35</div>
                                            <img src="//static.haocheedai.com/data/media/brand/21/247/247_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1290.28</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/257/33074.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">长安CS75</div>
                                            <img src="//static.haocheedai.com/data/media/brand/21/257/257_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1275.00</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>*@


                                </ul>
                            </li>

                            <li class="slides2" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1206/28221.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">途胜</div>
                                            <img src="//static.haocheedai.com/data/media/brand/125/1206/1206_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">3040.28</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1211/32027.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">MISTRA名图</div>
                                            <img src="//static.haocheedai.com/data/media/brand/125/1211/1211_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">2219.44</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2495/32034.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">领动</div>
                                            <img src="//static.haocheedai.com/data/media/brand/125/2495/2495_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1650.00</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/1200/31064.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">朗动</div>
                                            <img src="//static.haocheedai.com/data/media/brand/125/1200/1200_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1469.44</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>*@


                                </ul>
                            </li>

                            <li class="slides2" style="position: relative;padding-bottom:55px;">
                                <ul class="clearfix ul-box">


                                    @*<li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32601/1129324.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">大迈X7</div>
                                            <img src="//static.haocheedai.com/data/media/brand/138/32601/32601_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1248.61</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2417/33007.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">大迈X5</div>
                                            <img src="//static.haocheedai.com/data/media/brand/138/2417/2417_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">970.83</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/32720/1132552.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">众泰T700</div>
                                            <img src="//static.haocheedai.com/data/media/brand/138/32720/32720_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1483.33</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.haocheedai.com/pc/loanProduct/2219/31423.html">




                                            <i class="bg-sign invisible"></i>


                                            <div class="lines-h5">众泰T600</div>
                                            <img src="//static.haocheedai.com/data/media/brand/138/2219/2219_210140.jpg" onerror="javascript:this.src='//static.haocheedai.com/data/media/brand/default/default_300200.jpg'" alt="" title="">
                                            <p>¥&nbsp;<span><label class="loanMonthPay">1108.33</label></span>&nbsp;/月<label class="loanTimes">起</label></p>
                                            <span class="person"><label class="applicationNum"></label></span>
                                        </a>
                                    </li>*@


                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 常见问题 -->
        <div class="box-qa">
            <div class="h3-line div-line" style="border:0;margin-bottom: 0;">常见问题</div>
            <div class="floor-box">
                <ul class="sui-nav nav-tabs">

                    <li class="active"><a href="#tagContent0" data-toggle="tab">申请条件</a></li>

                    <li><a href="#tagContent1" data-toggle="tab">利率和月供</a></li>

                    <li><a href="#tagContent2" data-toggle="tab">申请流程</a></li>

                </ul>
                <div class="tab-content">

                    <div id="tagContent0" class="tab-pane active">


                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">李先生</p>
                                <div class="question-h5">我需要准备哪些材料供贷款审批？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>首付30%起，贷款金额10万以下，仅需提供一张身份证；<br>首付25%起，贷款金额50万以下，可能还需额外提供收入类、房产类、驾驶类、婚姻类材料。<br>您选好感兴趣的车型并创建购车方案后，系统会根据购车方案的具体情况告知您需要什么材料。</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">章女士</p>
                                <div class="question-h5">我信用卡有几次忘还款了，还能贷得下来吗？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>这要视您忘还款的次数和具体金额而定了，如果比较严重，可能会导致车贷的首付提高或增加担保人等方式放贷；如果特别严重，可能短期内无法获得贷款。所以，坚持养成良好的还款习惯吧！</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">张先生</p>
                                <div class="question-h5">我还是学生，能申请好车e贷吗？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>好车e贷面向年龄在18周岁以上，55周岁以下（女性，男性放宽到60周岁），且无重大信用瑕疵的个人客户开放，如果您各方面符合要求，均可在好车e贷申请贷款哦！</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>


                    </div>

                    <div id="tagContent1" class="tab-pane ">


                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">胡女士</p>
                                <div class="question-h5">好车e贷的贷款利率是多少？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>贷款利率根据您看中的车型及贷款期限而异哦~ 好车e贷为大部分上汽品牌乘用车提供2年（24期）以内的0息贷款，请在网站首页选择“贷款车型”后查看。</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">冯女士</p>
                                <div class="question-h5">我想买朗逸，大概月供是多少？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>月供根据您的首付、期限和贷款方案而异，您可以用“车贷计算器”算算看。举个栗子，您要买一辆10万元的车，如果首付4万，贷款6万，参加“两年零利率活动”的话，每月的月供仅需2500元哦！</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">朱先生</p>
                                <div class="question-h5">贷款要付手续费吗？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>好车e贷全程不收取任何服务费用。经销商在协助办理贷款时，会付出一定的人力、物力和财力，故可能会收取一定的手续费，详情请咨询当地经销商。</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>


                    </div>

                    <div id="tagContent2" class="tab-pane ">


                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">刘女士</p>
                                <div class="question-h5">神速贷是什么？怎么办理？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>“神速贷”是好车e贷最新推出的贷款产品，客户自助在线办理，2分钟填写，1分钟出审批结果，平均2小时放款，给您极致的购车体验！您可在好车e贷官网首页点击“神速贷”，进入神速贷申请页，按照页面提示填写个人信息并提交，就能获得审批结果啦~</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">段先生</p>
                                <div class="question-h5">贷款买车要办理抵押吗？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>所有贷款的车均需办理车辆抵押手续，在贷款结清后，可办理解除抵押手续。</p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>



                        <dl>
                            <dt>
                                <i class="icon-user"></i>
                            </dt>
                            <dd>
                                <p class="indexQuestioner">张先生</p>
                                <div class="question-h5">贷款要多久能办下来？</div>
                                <div class="txt">
                                    <span class="txt-arrow"></span>
                                    <div><p>神速贷已实现在提交材料前在线秒批。神速贷通过并提交材料后，平均2小时（工作时间）放款。<span style="font-size: 10.5pt; ">对于其他线上贷款，在提交材料后，正常情况两小时能出审批结果，如遇高峰期，审批时间会延长至</span><span style="font-size: 10.5pt; font-family: Calibri, sans-serif;">1-3</span><span style="font-size: 10.5pt; ">个工作日，如长时间未收到审批电话和结果，请及时联系经销商催办。</span></p></div>
                                    <i class="icon-server"></i>
                                </div>
                            </dd>
                        </dl>


                    </div>

                </div>
                <p class="links">
                    <a class="link" @*href="https://www.haocheedai.com/pc/carLoanCannonIndex.html" rel="nofollow"*@>更多问题答案尽在车贷宝典&nbsp;&gt;</a>
                </p>
            </div>
        </div>

    </div>
    <!-- 车贷流程 -->
    <div class="floor-process">
        <div class="floor">
            <div class="h3-line div-line">车贷流程</div>
        </div>
        <div class="wrap-process">
            <div class="floor">
                <ul>
                    <li>
                        <span class="icon-proce01"></span>
                        <p>在线申请/在线审批</p>
                    </li>
                    <li class="space"></li>
                    <li>
                        <span class="icon-proce02"></span>
                        <p>4S门店选车签约付首付</p>
                    </li>
                    <li class="space"></li>
                    <li>
                        <span class="icon-proce03"></span>
                        <p>放款提车抵押产证</p>
                    </li>
                    <li class="space"></li>
                    <li>
                        <span class="icon-proce04"></span>
                        <p>按月还贷查还款</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 合作机构 -->
    <div class="floor floor-teamwork">
        <div class="h3-line div-line">合作机构</div>
        <div class="box-links">
            <a href="http://shanghai.bitauto.com/?referrer=https://www.sogou.com/link?url=DSOYnZeCC_rw2e7F-OSDTBWRz2oqBnlk" rel="nofollow" target="_blank">
                <img src="https://www.haocheedai.com/resources/pc-sui2/images/gg_yc.png" alt="">
            </a>
            <a href="http://www.chexiang.com/" rel="nofollow" target="_blank">
                <img src="https://www.haocheedai.com/resources/pc-sui2/images/gg_cx.png" alt="">
            </a>
            <a href="http://www.pcauto.com.cn/" rel="nofollow" target="_blank">
                <img src="https://www.haocheedai.com/resources/pc-sui2/images/gg_tpy.png" alt="">
            </a>
            <a href="https://www.autohome.com.cn/beijing/" rel="nofollow" target="_blank">
                <img src="https://www.haocheedai.com/resources/pc-sui2/images/gg_qczj.png" alt="">
            </a>
            <a href="http://www.yibaoxian.com/" rel="nofollow" target="_blank">
                <img src="https://www.haocheedai.com/resources/pc-sui2/images/gg_ybx.png" alt="">
            </a>
        </div>
    </div>
</div>